@import './constants.css';

button {
    border-radius: var(--stdborderradius);
    padding: 10px;
    background-color: var(--navbarcolor);
    color: var(--stdcolor);
    font-size: var(--navbarfontsize);
    margin-bottom: 10px;
    border: none;
}

button:hover {
    background-color: var(--stdhovercolor);
    color: var(--altcolor);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--navbarcolor);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    color: black;
    border-radius: var(--stdborderradius);
    text-decoration: none;
    font-size: var(--navbarfontsize);
    font-weight: bold;
    padding: 10px;
}

.nav-link-active a {
    background-color: var(--stdhovercolor);
    color: var(--altcolor);
}

.nav-links a:focus,
.nav-links a:hover {
    background-color: var(--stdhovercolor); /* Adds a hover and focus effect for better visual feedback */
    color: var(--altcolor);
}

.burger {
    display: none;
}

/* For mobile screens */

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 0;
        /* height: 92vh; */
        top: 8vh;
        background-color: var(--navbarcolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        border-radius: var(--stdborderradius);
    }

    .nav-links li {
        opacity: 0;
        padding: 10px;
        align-self: flex-start;
    }

    .nav-links a {
        color: black;
        text-decoration: none;
        font-size: var(--mobfontsize);
        font-weight: bold;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .nav-active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }
}

/* Burger toggle animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-backdrop {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -9; /* Ensure it's below the nav-links but above other content */
}

.backdrop-active {
    display: flex;
}

.fixed-position {
    overflow: hidden;
    height: 100%;
}